{% extends 'base.html' %} 

{% block content %}
    <table>
      <tr align="left" valign="top">
        <th>Institution name:</th>
        <td>NDEJJE UNIVERSITY - FACULTY OF SCIENCE AND COMPUTING</td>
      </tr>
    </table>
    <table>
      <tr align="left" valign="top">
        <th>SEMESTER:</th>
        <td>SEMESTER II ACADEMIC YEAR 2024/2025 </td>
      </tr>
    </table>
    <p><strong>STUDENT GROUPS</strong></p>
    <ul>
      <li>
        Year YEAR ONE
        <ul>
          <li>
            Group <a href="#table_2">YEAR ONE - BIT</a>
          </li>
          <li>
            Group <a href="#table_4">YEAR ONE - BCS</a>
          </li>
          <li>
            Group <a href="#table_6">YEAR ONE - BSE</a>
          </li>
          <li>
            Group <a href="#table_8">YEAR ONE - DIT</a>
          </li>
          <li>
            Group <a href="#table_10">YEAR ONE - BIT (JAN INTAKE)</a>
          </li>
          <li>
            Group <a href="#table_12">YEAR ONE - BCS (JAN INTAKE)</a>
          </li>
          <li>
            Group <a href="#table_14">YEAR ONE - BSE (JAN INTAKE)</a>
          </li>
          <li>
            Group <a href="#table_16">YEAR ONE - DIT (JAN INTAKE)</a>
          </li>
        </ul>
      </li>
    </ul>
    <p>&nbsp;</p>

    <table id="table_2" border="1" class="odd_table">
      <caption><span class="institution">NDEJJE UNIVERSITY - FACULTY OF SCIENCE &amp; COMPUTING</span><br /><span class="name">YEAR ONE - BIT</span></caption>
      <thead>
        <tr>
          <td></td>
          <th class="xAxis">08:00AM - 11:00AM</th>
          <th class="xAxis">11:00AM - 02:00PM</th>
          <th class="xAxis">02:00PM - 05:00 PM</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th class="yAxis">Mon</th>
          <td>YEAR ONE - BIT, YEAR ONE - BCS, YEAR ONE - BSE, YEAR ONE - DIT<br />Year One: BIT/DIT/BCS 1208 CISCO Certified Network Associates <br />Mr. Nabimanya Peter 0772538333<br />Room: Main Lab-SC<br /></td>
          <td>YEAR ONE - BIT, YEAR ONE - BCS, YEAR ONE - DIT<br />Year One: BIT/DIT 1201/BCS 1206 Structured Programming<br />Mr. Mugejjera Emmanuel 0703186705<br />Room: Main Lab-SC<br /></td>
          <td>YEAR ONE - BIT, YEAR ONE - DIT<br />Year One: BIT/DIT 1206 Basic Statistics <br />Mr. Sekitto Steven 0753447936 <br />Main Lab - Lady Irene<br /></td>
        </tr>
        <tr>
          <th class="yAxis">Tue</th>
          <td>YEAR ONE - BIT, YEAR ONE - DIT<br />Year One: BIT/DIT 1204 Marketing in the IT Sector<br />Ms. Namayanja Rehema 0700548744<br />Room 1-Level 3-SC<br /></td>
          <td>YEAR ONE - BIT, YEAR ONE - BCS, YEAR ONE - DIT, YEAR ONE - BIT (JAN INTAKE), YEAR ONE - BCS (JAN INTAKE), YEAR ONE - DIT (JAN INTAKE)<br />Year One: BIT/DIT 1202/BCS 1203 Information Security<br />Ms. Namayanja Rehema 0700548744<br />Room 8-Level 3-SC<br /></td>
          <td>---</td>
        </tr>
        <tr>
          <th class="yAxis">Wed</th>
          <td>---</td>
          <td>---</td>
          <td>---</td>
        </tr>
        <tr>
          <th class="yAxis">Thur</th>
          <td>YEAR ONE - BIT, YEAR ONE - DIT, YEAR ONE - BCS, YEAR ONE - BIT (JAN INTAKE), YEAR ONE - BCS (JAN INTAKE), YEAR ONE - DIT (JAN INTAKE)<br />Year One: BIT/DIT 1205/BCS 1207 Operating Systems<br />Mr. Jude Iyke Nicholars 0782909117<br />Room 1-Level 3-SC<br /></td>
          <td>---</td>
          <td>YEAR ONE - BIT, YEAR ONE - BCS, YEAR ONE - BSE, YEAR ONE - DIT, YEAR ONE - BIT (JAN INTAKE), YEAR ONE - BCS (JAN INTAKE), YEAR ONE - BSE (JAN INTAKE), YEAR ONE - DIT (JAN INTAKE)<br />Year One: BIT/DIT 1207/BCS 1201 Christian Ethics II<br />Rev. Latima Muwanguzi<br />Room 1-Level 3-SC<br /></td>
        </tr>
        <tr>
          <th class="yAxis">Fri</th>
          <td>---</td>
          <td>YEAR ONE - BIT, YEAR ONE - DIT, YEAR ONE - BIT (JAN INTAKE), YEAR ONE - DIT (JAN INTAKE)<br />Year One: BIT/DIT 1204 Introduction to Computer Networks &amp; Network Security<br />Ms. Nantege Hellen 0774442476 <br />Room 1-Level 3-SC<br /></td>
          <td>---</td>
        </tr>
        <tr class="foot"><td></td><td colspan="3">Timetable generated by AI Research Center on 5/14/25 10:18 PM</td></tr>
      </tbody>
    </table>

    <p class="back"><a href="#top">back to the top</a></p>

    <table id="table_4" border="1" class="even_table">
      <caption><span class="institution">NDEJJE UNIVERSITY - FACULTY OF SCIENCE &amp; COMPUTING</span><br /><span class="name">YEAR ONE - BCS</span></caption>
      <thead>
        <tr>
          <td></td>
          <th class="xAxis">08:00AM - 11:00AM</th>
          <th class="xAxis">11:00AM - 02:00PM</th>
          <th class="xAxis">02:00PM - 05:00 PM</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th class="yAxis">Mon</th>
          <td>YEAR ONE - BIT, YEAR ONE - BCS, YEAR ONE - BSE, YEAR ONE - DIT<br />Year One: BIT/DIT/BCS 1208 CISCO Certified Network Associates <br />Mr. Nabimanya Peter 0772538333<br />Room: Main Lab-SC<br /></td>
          <td>YEAR ONE - BIT, YEAR ONE - BCS, YEAR ONE - DIT<br />Year One: BIT/DIT 1201/BCS 1206 Structured Programming<br />Mr. Mugejjera Emmanuel 0703186705<br />Room: Main Lab-SC<br /></td>
          <td>Year One: BCS 1205 Data structures and Algorithms<br />Mr. Onyango Laban 0702472180<br />Room 1-Level 3-SC<br /></td>
        </tr>
        <tr>
          <th class="yAxis">Tue</th>
          <td>---</td>
          <td>YEAR ONE - BIT, YEAR ONE - BCS, YEAR ONE - DIT, YEAR ONE - BIT (JAN INTAKE), YEAR ONE - BCS (JAN INTAKE), YEAR ONE - DIT (JAN INTAKE)<br />Year One: BIT/DIT 1202/BCS 1203 Information Security<br />Ms. Namayanja Rehema 0700548744<br />Room 8-Level 3-SC<br /></td>
          <td>---</td>
        </tr>
        <tr>
          <th class="yAxis">Wed</th>
          <td>---</td>
          <td>---</td>
          <td>---</td>
        </tr>
        <tr>
          <th class="yAxis">Thur</th>
          <td>YEAR ONE - BIT, YEAR ONE - DIT, YEAR ONE - BCS, YEAR ONE - BIT (JAN INTAKE), YEAR ONE - BCS (JAN INTAKE), YEAR ONE - DIT (JAN INTAKE)<br />Year One: BIT/DIT 1205/BCS 1207 Operating Systems<br />Mr. Jude Iyke Nicholars 0782909117<br />Room 1-Level 3-SC<br /></td>
          <td>YEAR ONE - BCS, YEAR ONE - BSE, YEAR ONE - BCS (JAN INTAKE), YEAR ONE - BSE (JAN INTAKE)<br />Year One: BCS 1204/BSE 1201 Computer Architecture and Organisation<br />Mr. Mwanje Abiasaali 0778798741 <br />Room 8-Level 3-SC<br /></td>
          <td>YEAR ONE - BIT, YEAR ONE - BCS, YEAR ONE - BSE, YEAR ONE - DIT, YEAR ONE - BIT (JAN INTAKE), YEAR ONE - BCS (JAN INTAKE), YEAR ONE - BSE (JAN INTAKE), YEAR ONE - DIT (JAN INTAKE)<br />Year One: BIT/DIT 1207/BCS 1201 Christian Ethics II<br />Rev. Latima Muwanguzi<br />Room 1-Level 3-SC<br /></td>
        </tr>
        <tr>
          <th class="yAxis">Fri</th>
          <td>YEAR ONE - BCS, YEAR ONE - BCS (JAN INTAKE)<br />Year One: BCS 1202 Computer Networks and Data communications<br />Ms. Nantege Hellen 0774442476 <br />Room 8-Level 3-SC<br /></td>
          <td>---</td>
          <td>---</td>
        </tr>
        <tr class="foot"><td></td><td colspan="3">Timetable generated by AI Research Center on 5/14/25 10:18 PM</td></tr>
      </tbody>
    </table>

    <p class="back"><a href="#top">back to the top</a></p>

    <table id="table_6" border="1" class="odd_table">
      <caption><span class="institution">NDEJJE UNIVERSITY - FACULTY OF SCIENCE &amp; COMPUTING</span><br /><span class="name">YEAR ONE - BSE</span></caption>
      <thead>
        <tr>
          <td></td>
          <th class="xAxis">08:00AM - 11:00AM</th>
          <th class="xAxis">11:00AM - 02:00PM</th>
          <th class="xAxis">02:00PM - 05:00 PM</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th class="yAxis">Mon</th>
          <td>YEAR ONE - BIT, YEAR ONE - BCS, YEAR ONE - BSE, YEAR ONE - DIT<br />Year One: BIT/DIT/BCS 1208 CISCO Certified Network Associates <br />Mr. Nabimanya Peter 0772538333<br />Room: Main Lab-SC<br /></td>
          <td>---</td>
          <td>Year One: BSE 1205 Introduction to Internet Programming <br />Mr. Kateete Twaha 0778313421<br />Room: Mini-lab-SC<br /></td>
        </tr>
        <tr>
          <th class="yAxis">Tue</th>
          <td>---</td>
          <td>YEAR ONE - BSE, YEAR ONE - BSE (JAN INTAKE)<br />Year One: BSE 1202 Software Engineering Principles II<br />Mr. Luyima Alex 0772302775 <br />Room: Mini-lab-SC<br /></td>
          <td>---</td>
        </tr>
        <tr>
          <th class="yAxis">Wed</th>
          <td>---</td>
          <td>---</td>
          <td>---</td>
        </tr>
        <tr>
          <th class="yAxis">Thur</th>
          <td>---</td>
          <td>YEAR ONE - BCS, YEAR ONE - BSE, YEAR ONE - BCS (JAN INTAKE), YEAR ONE - BSE (JAN INTAKE)<br />Year One: BCS 1204/BSE 1201 Computer Architecture and Organisation<br />Mr. Mwanje Abiasaali 0778798741 <br />Room 8-Level 3-SC<br /></td>
          <td>YEAR ONE - BIT, YEAR ONE - BCS, YEAR ONE - BSE, YEAR ONE - DIT, YEAR ONE - BIT (JAN INTAKE), YEAR ONE - BCS (JAN INTAKE), YEAR ONE - BSE (JAN INTAKE), YEAR ONE - DIT (JAN INTAKE)<br />Year One: BIT/DIT 1207/BCS 1201 Christian Ethics II<br />Rev. Latima Muwanguzi<br />Room 1-Level 3-SC<br /></td>
        </tr>
        <tr>
          <th class="yAxis">Fri</th>
          <td>Year One: BSE 1206 Entrepreneurship and Development for Engineers<br />Mrs. Elizabeth Muwanguzi<br />Room 1-Level 3-SC<br /></td>
          <td>---</td>
          <td>---</td>
        </tr>
        <tr class="foot"><td></td><td colspan="3">Timetable generated by AI Research Center on 5/14/25 10:18 PM</td></tr>
      </tbody>
    </table>

    <p class="back"><a href="#top">back to the top</a></p>

    <table id="table_8" border="1" class="even_table">
      <caption><span class="institution">NDEJJE UNIVERSITY - FACULTY OF SCIENCE &amp; COMPUTING</span><br /><span class="name">YEAR ONE - DIT</span></caption>
      <thead>
        <tr>
          <td></td>
          <th class="xAxis">08:00AM - 11:00AM</th>
          <th class="xAxis">11:00AM - 02:00PM</th>
          <th class="xAxis">02:00PM - 05:00 PM</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th class="yAxis">Mon</th>
          <td>YEAR ONE - BIT, YEAR ONE - BCS, YEAR ONE - BSE, YEAR ONE - DIT<br />Year One: BIT/DIT/BCS 1208 CISCO Certified Network Associates <br />Mr. Nabimanya Peter 0772538333<br />Room: Main Lab-SC<br /></td>
          <td>YEAR ONE - BIT, YEAR ONE - BCS, YEAR ONE - DIT<br />Year One: BIT/DIT 1201/BCS 1206 Structured Programming<br />Mr. Mugejjera Emmanuel 0703186705<br />Room: Main Lab-SC<br /></td>
          <td>YEAR ONE - BIT, YEAR ONE - DIT<br />Year One: BIT/DIT 1206 Basic Statistics <br />Mr. Sekitto Steven 0753447936 <br />Main Lab - Lady Irene<br /></td>
        </tr>
        <tr>
          <th class="yAxis">Tue</th>
          <td>YEAR ONE - BIT, YEAR ONE - DIT<br />Year One: BIT/DIT 1204 Marketing in the IT Sector<br />Ms. Namayanja Rehema 0700548744<br />Room 1-Level 3-SC<br /></td>
          <td>YEAR ONE - BIT, YEAR ONE - BCS, YEAR ONE - DIT, YEAR ONE - BIT (JAN INTAKE), YEAR ONE - BCS (JAN INTAKE), YEAR ONE - DIT (JAN INTAKE)<br />Year One: BIT/DIT 1202/BCS 1203 Information Security<br />Ms. Namayanja Rehema 0700548744<br />Room 8-Level 3-SC<br /></td>
          <td>---</td>
        </tr>
        <tr>
          <th class="yAxis">Wed</th>
          <td>---</td>
          <td>---</td>
          <td>---</td>
        </tr>
        <tr>
          <th class="yAxis">Thur</th>
          <td>YEAR ONE - BIT, YEAR ONE - DIT, YEAR ONE - BCS, YEAR ONE - BIT (JAN INTAKE), YEAR ONE - BCS (JAN INTAKE), YEAR ONE - DIT (JAN INTAKE)<br />Year One: BIT/DIT 1205/BCS 1207 Operating Systems<br />Mr. Jude Iyke Nicholars 0782909117<br />Room 1-Level 3-SC<br /></td>
          <td>---</td>
          <td>YEAR ONE - BIT, YEAR ONE - BCS, YEAR ONE - BSE, YEAR ONE - DIT, YEAR ONE - BIT (JAN INTAKE), YEAR ONE - BCS (JAN INTAKE), YEAR ONE - BSE (JAN INTAKE), YEAR ONE - DIT (JAN INTAKE)<br />Year One: BIT/DIT 1207/BCS 1201 Christian Ethics II<br />Rev. Latima Muwanguzi<br />Room 1-Level 3-SC<br /></td>
        </tr>
        <tr>
          <th class="yAxis">Fri</th>
          <td>---</td>
          <td>YEAR ONE - BIT, YEAR ONE - DIT, YEAR ONE - BIT (JAN INTAKE), YEAR ONE - DIT (JAN INTAKE)<br />Year One: BIT/DIT 1204 Introduction to Computer Networks &amp; Network Security<br />Ms. Nantege Hellen 0774442476 <br />Room 1-Level 3-SC<br /></td>
          <td>---</td>
        </tr>
        <tr class="foot"><td></td><td colspan="3">Timetable generated by AI Research Center on 5/14/25 10:18 PM</td></tr>
      </tbody>
    </table>

    <p class="back"><a href="#top">back to the top</a></p>

    <table id="table_10" border="1" class="odd_table">
      <caption><span class="institution">NDEJJE UNIVERSITY - FACULTY OF SCIENCE &amp; COMPUTING</span><br /><span class="name">YEAR ONE - BIT (JAN INTAKE)</span></caption>
      <thead>
        <tr>
          <td></td>
          <th class="xAxis">08:00AM - 11:00AM</th>
          <th class="xAxis">11:00AM - 02:00PM</th>
          <th class="xAxis">02:00PM - 05:00 PM</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th class="yAxis">Mon</th>
          <td>---</td>
          <td>---</td>
          <td>YEAR ONE - BIT (JAN INTAKE), YEAR ONE - BCS (JAN INTAKE), YEAR ONE - BSE (JAN INTAKE), YEAR ONE - DIT (JAN INTAKE)<br />Year One: Jan-Intake BIT/DIT/BCS/BSE 1108 CISCO Certified Network Associates <br />Mr. Nabimanya Peter 0772538333<br />Room: Main Lab-SC<br /></td>
        </tr>
        <tr>
          <th class="yAxis">Tue</th>
          <td>---</td>
          <td>YEAR ONE - BIT, YEAR ONE - BCS, YEAR ONE - DIT, YEAR ONE - BIT (JAN INTAKE), YEAR ONE - BCS (JAN INTAKE), YEAR ONE - DIT (JAN INTAKE)<br />Year One: BIT/DIT 1202/BCS 1203 Information Security<br />Ms. Namayanja Rehema 0700548744<br />Room 8-Level 3-SC<br /></td>
          <td>YEAR ONE - BIT (JAN INTAKE), YEAR ONE - BCS (JAN INTAKE), YEAR ONE - BSE (JAN INTAKE), YEAR ONE - DIT (JAN INTAKE)<br />Year One Jan-Intake: BIT/DIT/BCS 1107 Principles of Programming<br />Mr. Luyima Alex 0772302775 <br />Room: Main Lab-SC<br /></td>
        </tr>
        <tr>
          <th class="yAxis">Wed</th>
          <td>---</td>
          <td>---</td>
          <td>---</td>
        </tr>
        <tr>
          <th class="yAxis">Thur</th>
          <td>YEAR ONE - BIT, YEAR ONE - DIT, YEAR ONE - BCS, YEAR ONE - BIT (JAN INTAKE), YEAR ONE - BCS (JAN INTAKE), YEAR ONE - DIT (JAN INTAKE)<br />Year One: BIT/DIT 1205/BCS 1207 Operating Systems<br />Mr. Jude Iyke Nicholars 0782909117<br />Room 1-Level 3-SC<br /></td>
          <td>---</td>
          <td>YEAR ONE - BIT, YEAR ONE - BCS, YEAR ONE - BSE, YEAR ONE - DIT, YEAR ONE - BIT (JAN INTAKE), YEAR ONE - BCS (JAN INTAKE), YEAR ONE - BSE (JAN INTAKE), YEAR ONE - DIT (JAN INTAKE)<br />Year One: BIT/DIT 1207/BCS 1201 Christian Ethics II<br />Rev. Latima Muwanguzi<br />Room 1-Level 3-SC<br /></td>
        </tr>
        <tr>
          <th class="yAxis">Fri</th>
          <td>---</td>
          <td>YEAR ONE - BIT, YEAR ONE - DIT, YEAR ONE - BIT (JAN INTAKE), YEAR ONE - DIT (JAN INTAKE)<br />Year One: BIT/DIT 1204 Introduction to Computer Networks &amp; Network Security<br />Ms. Nantege Hellen 0774442476 <br />Room 1-Level 3-SC<br /></td>
          <td>---</td>
        </tr>
        <tr class="foot"><td></td><td colspan="3">Timetable generated by AI Research Center on 5/14/25 10:18 PM</td></tr>
      </tbody>
    </table>

    <p class="back"><a href="#top">back to the top</a></p>

    <table id="table_12" border="1" class="even_table">
      <caption><span class="institution">NDEJJE UNIVERSITY - FACULTY OF SCIENCE &amp; COMPUTING</span><br /><span class="name">YEAR ONE - BCS (JAN INTAKE)</span></caption>
      <thead>
        <tr>
          <td></td>
          <th class="xAxis">08:00AM - 11:00AM</th>
          <th class="xAxis">11:00AM - 02:00PM</th>
          <th class="xAxis">02:00PM - 05:00 PM</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th class="yAxis">Mon</th>
          <td>---</td>
          <td>---</td>
          <td>YEAR ONE - BIT (JAN INTAKE), YEAR ONE - BCS (JAN INTAKE), YEAR ONE - BSE (JAN INTAKE), YEAR ONE - DIT (JAN INTAKE)<br />Year One: Jan-Intake BIT/DIT/BCS/BSE 1108 CISCO Certified Network Associates <br />Mr. Nabimanya Peter 0772538333<br />Room: Main Lab-SC<br /></td>
        </tr>
        <tr>
          <th class="yAxis">Tue</th>
          <td>---</td>
          <td>YEAR ONE - BIT, YEAR ONE - BCS, YEAR ONE - DIT, YEAR ONE - BIT (JAN INTAKE), YEAR ONE - BCS (JAN INTAKE), YEAR ONE - DIT (JAN INTAKE)<br />Year One: BIT/DIT 1202/BCS 1203 Information Security<br />Ms. Namayanja Rehema 0700548744<br />Room 8-Level 3-SC<br /></td>
          <td>YEAR ONE - BIT (JAN INTAKE), YEAR ONE - BCS (JAN INTAKE), YEAR ONE - BSE (JAN INTAKE), YEAR ONE - DIT (JAN INTAKE)<br />Year One Jan-Intake: BIT/DIT/BCS 1107 Principles of Programming<br />Mr. Luyima Alex 0772302775 <br />Room: Main Lab-SC<br /></td>
        </tr>
        <tr>
          <th class="yAxis">Wed</th>
          <td>---</td>
          <td>---</td>
          <td>---</td>
        </tr>
        <tr>
          <th class="yAxis">Thur</th>
          <td>YEAR ONE - BIT, YEAR ONE - DIT, YEAR ONE - BCS, YEAR ONE - BIT (JAN INTAKE), YEAR ONE - BCS (JAN INTAKE), YEAR ONE - DIT (JAN INTAKE)<br />Year One: BIT/DIT 1205/BCS 1207 Operating Systems<br />Mr. Jude Iyke Nicholars 0782909117<br />Room 1-Level 3-SC<br /></td>
          <td>YEAR ONE - BCS, YEAR ONE - BSE, YEAR ONE - BCS (JAN INTAKE), YEAR ONE - BSE (JAN INTAKE)<br />Year One: BCS 1204/BSE 1201 Computer Architecture and Organisation<br />Mr. Mwanje Abiasaali 0778798741 <br />Room 8-Level 3-SC<br /></td>
          <td>YEAR ONE - BIT, YEAR ONE - BCS, YEAR ONE - BSE, YEAR ONE - DIT, YEAR ONE - BIT (JAN INTAKE), YEAR ONE - BCS (JAN INTAKE), YEAR ONE - BSE (JAN INTAKE), YEAR ONE - DIT (JAN INTAKE)<br />Year One: BIT/DIT 1207/BCS 1201 Christian Ethics II<br />Rev. Latima Muwanguzi<br />Room 1-Level 3-SC<br /></td>
        </tr>
        <tr>
          <th class="yAxis">Fri</th>
          <td>YEAR ONE - BCS, YEAR ONE - BCS (JAN INTAKE)<br />Year One: BCS 1202 Computer Networks and Data communications<br />Ms. Nantege Hellen 0774442476 <br />Room 8-Level 3-SC<br /></td>
          <td>---</td>
          <td>---</td>
        </tr>
        <tr class="foot"><td></td><td colspan="3">Timetable generated by AI Research Center on 5/14/25 10:18 PM</td></tr>
      </tbody>
    </table>

    <p class="back"><a href="#top">back to the top</a></p>

    <table id="table_14" border="1" class="odd_table">
      <caption><span class="institution">NDEJJE UNIVERSITY - FACULTY OF SCIENCE &amp; COMPUTING</span><br /><span class="name">YEAR ONE - BSE (JAN INTAKE)</span></caption>
      <thead>
        <tr>
          <td></td>
          <th class="xAxis">08:00AM - 11:00AM</th>
          <th class="xAxis">11:00AM - 02:00PM</th>
          <th class="xAxis">02:00PM - 05:00 PM</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th class="yAxis">Mon</th>
          <td>---</td>
          <td>---</td>
          <td>YEAR ONE - BIT (JAN INTAKE), YEAR ONE - BCS (JAN INTAKE), YEAR ONE - BSE (JAN INTAKE), YEAR ONE - DIT (JAN INTAKE)<br />Year One: Jan-Intake BIT/DIT/BCS/BSE 1108 CISCO Certified Network Associates <br />Mr. Nabimanya Peter 0772538333<br />Room: Main Lab-SC<br /></td>
        </tr>
        <tr>
          <th class="yAxis">Tue</th>
          <td>---</td>
          <td>YEAR ONE - BSE, YEAR ONE - BSE (JAN INTAKE)<br />Year One: BSE 1202 Software Engineering Principles II<br />Mr. Luyima Alex 0772302775 <br />Room: Mini-lab-SC<br /></td>
          <td>YEAR ONE - BIT (JAN INTAKE), YEAR ONE - BCS (JAN INTAKE), YEAR ONE - BSE (JAN INTAKE), YEAR ONE - DIT (JAN INTAKE)<br />Year One Jan-Intake: BIT/DIT/BCS 1107 Principles of Programming<br />Mr. Luyima Alex 0772302775 <br />Room: Main Lab-SC<br /></td>
        </tr>
        <tr>
          <th class="yAxis">Wed</th>
          <td>---</td>
          <td>---</td>
          <td>---</td>
        </tr>
        <tr>
          <th class="yAxis">Thur</th>
          <td>---</td>
          <td>YEAR ONE - BCS, YEAR ONE - BSE, YEAR ONE - BCS (JAN INTAKE), YEAR ONE - BSE (JAN INTAKE)<br />Year One: BCS 1204/BSE 1201 Computer Architecture and Organisation<br />Mr. Mwanje Abiasaali 0778798741 <br />Room 8-Level 3-SC<br /></td>
          <td>YEAR ONE - BIT, YEAR ONE - BCS, YEAR ONE - BSE, YEAR ONE - DIT, YEAR ONE - BIT (JAN INTAKE), YEAR ONE - BCS (JAN INTAKE), YEAR ONE - BSE (JAN INTAKE), YEAR ONE - DIT (JAN INTAKE)<br />Year One: BIT/DIT 1207/BCS 1201 Christian Ethics II<br />Rev. Latima Muwanguzi<br />Room 1-Level 3-SC<br /></td>
        </tr>
        <tr>
          <th class="yAxis">Fri</th>
          <td>---</td>
          <td>---</td>
          <td>---</td>
        </tr>
        <tr class="foot"><td></td><td colspan="3">Timetable generated by AI Research Center on 5/14/25 10:18 PM</td></tr>
      </tbody>
    </table>

    <p class="back"><a href="#top">back to the top</a></p>

    <table id="table_16" border="1" class="even_table">
      <caption><span class="institution">NDEJJE UNIVERSITY - FACULTY OF SCIENCE &amp; COMPUTING</span><br /><span class="name">YEAR ONE - DIT (JAN INTAKE)</span></caption>
      <thead>
        <tr>
          <td></td>
          <th class="xAxis">08:00AM - 11:00AM</th>
          <th class="xAxis">11:00AM - 02:00PM</th>
          <th class="xAxis">02:00PM - 05:00 PM</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th class="yAxis">Mon</th>
          <td>---</td>
          <td>---</td>
          <td>YEAR ONE - BIT (JAN INTAKE), YEAR ONE - BCS (JAN INTAKE), YEAR ONE - BSE (JAN INTAKE), YEAR ONE - DIT (JAN INTAKE)<br />Year One: Jan-Intake BIT/DIT/BCS/BSE 1108 CISCO Certified Network Associates <br />Mr. Nabimanya Peter 0772538333<br />Room: Main Lab-SC<br /></td>
        </tr>
        <tr>
          <th class="yAxis">Tue</th>
          <td>---</td>
          <td>YEAR ONE - BIT, YEAR ONE - BCS, YEAR ONE - DIT, YEAR ONE - BIT (JAN INTAKE), YEAR ONE - BCS (JAN INTAKE), YEAR ONE - DIT (JAN INTAKE)<br />Year One: BIT/DIT 1202/BCS 1203 Information Security<br />Ms. Namayanja Rehema 0700548744<br />Room 8-Level 3-SC<br /></td>
          <td>YEAR ONE - BIT (JAN INTAKE), YEAR ONE - BCS (JAN INTAKE), YEAR ONE - BSE (JAN INTAKE), YEAR ONE - DIT (JAN INTAKE)<br />Year One Jan-Intake: BIT/DIT/BCS 1107 Principles of Programming<br />Mr. Luyima Alex 0772302775 <br />Room: Main Lab-SC<br /></td>
        </tr>
        <tr>
          <th class="yAxis">Wed</th>
          <td>---</td>
          <td>---</td>
          <td>---</td>
        </tr>
        <tr>
          <th class="yAxis">Thur</th>
          <td>YEAR ONE - BIT, YEAR ONE - DIT, YEAR ONE - BCS, YEAR ONE - BIT (JAN INTAKE), YEAR ONE - BCS (JAN INTAKE), YEAR ONE - DIT (JAN INTAKE)<br />Year One: BIT/DIT 1205/BCS 1207 Operating Systems<br />Mr. Jude Iyke Nicholars 0782909117<br />Room 1-Level 3-SC<br /></td>
          <td>---</td>
          <td>YEAR ONE - BIT, YEAR ONE - BCS, YEAR ONE - BSE, YEAR ONE - DIT, YEAR ONE - BIT (JAN INTAKE), YEAR ONE - BCS (JAN INTAKE), YEAR ONE - BSE (JAN INTAKE), YEAR ONE - DIT (JAN INTAKE)<br />Year One: BIT/DIT 1207/BCS 1201 Christian Ethics II<br />Rev. Latima Muwanguzi<br />Room 1-Level 3-SC<br /></td>
        </tr>
        <tr>
          <th class="yAxis">Fri</th>
          <td>---</td>
          <td>YEAR ONE - BIT, YEAR ONE - DIT, YEAR ONE - BIT (JAN INTAKE), YEAR ONE - DIT (JAN INTAKE)<br />Year One: BIT/DIT 1204 Introduction to Computer Networks &amp; Network Security<br />Ms. Nantege Hellen 0774442476 <br />Room 1-Level 3-SC<br /></td>
          <td>---</td>
        </tr>
        <tr class="foot"><td></td><td colspan="3">Timetable generated by AI Research Center on 5/14/25 10:18 PM</td></tr>
      </tbody>
    </table>

    <p class="back"><a href="#top">back to the top</a></p>

{% endblock %}
